<div class="camera_wrap camera_orange_skin" id="camera_wrap">
	<div data-src="http://livedemo00.template-help.com/magento_50899/skin/frontend/default/theme286k/images/slider_pic1.jpg" data-link="books/arts-photography.html">
	</div>
	<div data-src="http://livedemo00.template-help.com/magento_50899/skin/frontend/default/theme286k/images/slider_pic2.jpg" data-link="books/cooking-food-wine.html">
	</div>
	<div data-src="http://livedemo00.template-help.com/magento_50899/skin/frontend/default/theme286k/images/slider_pic3.jpg" data-link="books/literature-fiction.html">
	</div>
</div>
<div class="clear"></div>
<script type="text/javascript">
 /* index slider */
 jQuery(function(){
  jQuery('#camera_wrap').camera({
   alignmen: 'topCenter',
   height: '40.574%',
   minHeight: '50px',
   loader : false,
   navigation: false,
   fx: 'simpleFade',
   navigationHover:false,
   thumbnails: false,
   playPause: false,
 });
});
</script>

