<div class="swipe-left"></div>
<div class="swipe">
	<div class="swipe-menu">
		<a href="" title="Home" class="home-link">Home</a>
		<ul class="links">
			<li class="first"><a href="" title="Home">Home</a></li>

			<li><a href="" title="My Cart" class="top-link-cart">My Cart</a></li>

			<li class=" last"><a href="" title="Log In">Log In</a></li>
		</ul>
		<div class="currency-switch switch-show">
			<div class="currency-title">
				<span class="label">Admin:</span>
			</div>
			<ul class="currency-dropdown">
				<li><a href="">sdsdsd</a></li>
		</div>
	</div>
</div>
<div class="top-icon-menu">
	<div class="swipe-control"><i class="fa fa-align-justify"></i></div>
	<div class="top-search"><i class="fa fa-search"></i></div>
	<span class="clear"></span>
</div>
