



                <div class="std"><div class="header_slider">
                <%= render "scraffold/slider" %>
                </div>
                <div class="banners_row b_row1">
                  <div class="banner_wide ban1">
                    <a href="http://livedemo00.template-help.com/magento_50899/audiobooks.html/">
                      <div class="ban_img"><img src="http://livedemo00.template-help.com/magento_50899/skin/frontend/default/theme286k/images/banner1.jpg" alt=""/></div>
                      <div class="ban_wrap">
                        <h3>NEW RELEASES</h3>
                        <h2>This Week's Biggest Books</h2>
                        <p>Fusce euismod consequat ante.<br>Lorem ipsum dolor sit amet, consec<br>tetuer adipiscing elit.</p>
                      </div>
                    </a>
                  </div>
                  <div class="banner ban2">
                    <a href="http://livedemo00.template-help.com/magento_50899/business.html/">
                      <div class="ban_img"><img src="http://livedemo00.template-help.com/magento_50899/skin/frontend/default/theme286k/images/banner2.jpg" alt=""/></div>
                    </a>
                  </div>
                  <div class="banner ban3">
                    <a href="http://livedemo00.template-help.com/magento_50899/childrens.html/">
                      <div class="ban_img"><img src="http://livedemo00.template-help.com/magento_50899/skin/frontend/default/theme286k/images/banner3.jpg" alt=""/></div>
                    </a>
                  </div>
                </div>
                <div class="banners_row b_row2">
                  <div class="banner ban4">
                    <a href="http://livedemo00.template-help.com/magento_50899/used-out-of-print.html/">
                      <div class="ban_img"><img src="http://livedemo00.template-help.com/magento_50899/skin/frontend/default/theme286k/images/banner4.jpg" alt=""/></div>
                    </a>
                  </div>
                  <div class="banner ban5">
                    <a href="http://livedemo00.template-help.com/magento_50899/books/arts-photography.html/">
                      <div class="ban_img"><img src="http://livedemo00.template-help.com/magento_50899/skin/frontend/default/theme286k/images/banner5.jpg" alt=""/></div>
                    </a>
                  </div>
                  <div class="banner_wide ban6">
                    <a href="http://livedemo00.template-help.com/magento_50899/books/science-education.html/">
                      <div class="ban_img"><img src="http://livedemo00.template-help.com/magento_50899/skin/frontend/default/theme286k/images/banner6.jpg" alt=""/></div>
                      <div class="ban_wrap">
                        <h3>RECOMMENDED</h3>
                        <h2>Books We're Talking About</h2>
                        <p>Fusce euismod consequat ante.<br>Lorem ipsum dolor sit amet, consec<br>tetuer adipiscing elit.</p>
                      </div>
                    </a>
                  </div>
                </div></div><div class="page-title category-title">
                <h1>New Products</h1>
              </div>
              <ul class="products-grid row">
                <li class="item col-xs-4 first">
                  <div class="grid_wrap">
                    <a href="http://livedemo00.template-help.com/magento_50899/the-story-of-edgar-sawtelle.html" title="The Story of Edgar Sawtelle" class="product-image"><img src="http://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_3.png" alt="The Story of Edgar Sawtelle"/></a>
                    <div class="product-shop">
                      <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_50899/the-story-of-edgar-sawtelle.html" title="The Story of Edgar Sawtelle">The Story of Edgar Sawtelle</a></h3>
                      <div class="price-box">
                        <span class="regular-price" id="product-price-5-new">
                          <span class="price">Review: 24.36</span> </span>
                        </div>
                        <div class="actions">
                          <a href="http://livedemo00.template-help.com/magento_50899/the-story-of-edgar-sawtelle.html" class="cart_link">Add to Cart</a>

                        </div>
                      </div>
                      <div class="label-product">
                      </div>
                    </div>
                  </li>
                  <li class="item col-xs-4">
                    <div class="grid_wrap">
                      <a href="http://livedemo00.template-help.com/magento_50899/peter-doig.html" title="Peter Doig" class="product-image"><img src="http://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_29_4.png" alt="Peter Doig"/></a>
                      <div class="product-shop">
                        <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_50899/peter-doig.html" title="Peter Doig">Peter Doig</a></h3>
                        <div class="price-box">
                          <span class="regular-price" id="product-price-11-new">
                            <span class="price">Review: 34.58</span> </span>
                          </div>
                          <div class="actions">
                            <a href="http://livedemo00.template-help.com/magento_50899/peter-doig.html" class="cart_link">Add to Cart</a>

                          </div>
                        </div>
                        <div class="label-product">
                        </div>
                      </div>
                    </li>
                    <li class="item col-xs-4 last">
                      <div class="grid_wrap">
                        <a href="http://livedemo00.template-help.com/magento_50899/food-for-fifty-12th-edition.html" title="Food for Fifty (12th Edition)" class="product-image"><img src="http://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_7.png" alt="Food for Fifty (12th Edition)"/></a>
                        <div class="product-shop">
                          <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_50899/food-for-fifty-12th-edition.html" title="Food for Fifty (12th Edition)">Food for Fifty (12th Edition)</a></h3>
                          <div class="price-box">
                            <span class="regular-price" id="product-price-14-new">
                              <span class="price">Review: 34.58</span> </span>
                            </div>
                            <div class="actions">
                              <a href="http://livedemo00.template-help.com/magento_50899/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181MDg5OS8,/product/14/form_key/vYXBeTG23RE1twvc/" class="cart_link">Add to Cart</a>

                            </div>
                          </div>
                          <div class="label-product">
                          </div>
                        </div>
                      </li>
                    </ul>
                    <ul class="products-grid row">
                      <li class="item col-xs-4 first">
                        <div class="grid_wrap">
                          <a href="http://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief" class="product-image"><img src="http://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_14.png" alt="The Book Thief"/></a>
                          <div class="product-shop">
                            <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_50899/the-book-thief.html" title="The Book Thief">The Book Thief</a></h3>
                            <div class="price-box">
                              <span class="regular-price" id="product-price-21-new">
                                <span class="price">Review: 31.58</span> </span>
                              </div>
                              <div class="actions">
                                <a href="http://livedemo00.template-help.com/magento_50899/the-book-thief.html" class="cart_link">Add to Cart</a>

                              </div>
                            </div>
                            <div class="label-product">
                            </div>
                          </div>
                        </li>
                        <li class="item col-xs-4">
                          <div class="grid_wrap">
                            <a href="http://livedemo00.template-help.com/magento_50899/the-girl-with-the-dragon-tattoo.html" title="The Girl With the Dragon Tattoo" class="product-image"><img src="http://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_16.png" alt="The Girl With the Dragon Tattoo"/></a>
                            <div class="product-shop">
                              <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_50899/the-girl-with-the-dragon-tattoo.html" title="The Girl With the Dragon Tattoo">The Girl With the Dragon Tattoo</a></h3>
                              <div class="price-box">
                                <span class="regular-price" id="product-price-23-new">
                                  <span class="price">Review: 31.97</span> </span>
                                </div>
                                <div class="actions">
                                  <a href="http://livedemo00.template-help.com/magento_50899/the-girl-with-the-dragon-tattoo.html" class="cart_link">Add to Cart</a>

                                </div>
                              </div>
                              <div class="label-product">
                              </div>
                            </div>
                          </li>
                          <li class="item col-xs-4 last">
                            <div class="grid_wrap">
                              <a href="http://livedemo00.template-help.com/magento_50899/the-design-of-everyday-things.html" title="The Design of Everyday Things" class="product-image"><img src="http://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_29.png" alt="The Design of Everyday Things"/></a>
                              <div class="product-shop">
                                <h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_50899/the-design-of-everyday-things.html" title="The Design of Everyday Things">The Design of Everyday Things</a></h3>
                                <div class="price-box">
                                  <span class="regular-price" id="product-price-36-new">
                                    <span class="price">Review: 27.11</span> </span>
                                  </div>
                                  <div class="actions">
                                    <a href="http://livedemo00.template-help.com/magento_50899/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181MDg5OS8,/product/36/form_key/vYXBeTG23RE1twvc/" class="cart_link">Add to Cart</a>

                                  </div>
                                </div>
                                <div class="label-product">
                                </div>
                              </div>
                            </li>
                          </ul>


