<div class="col-left sidebar col-xs-12 col-sm-3"><div class="block block-side-nav">
<% if login? && is_admin? %>
	<div class="block-title"><strong><span>TASK</span></strong></div>
	<div class="block-content">
		<ul class="sf-menu-phone2">
			<li class="level0 nav-2 level-top parent">
			<a href="#" class="level-top"><span>Category</span></a>
				<ul class="level0">
					<li class="level1 nav-2-1 first">
					<a href="#"><span>Add Cate</span></a>
					</li>
					<li class="level1 nav-2-2 parent">
					<a href="#"><span>List Cate</span></a>
					</li>
				</ul>
			</li>
			<li class="level0 nav-2 level-top parent">
			<a href="#" class="level-top"><span>Books</span></a>
				<ul class="level0">
					<li>
					<a href="#"><span>Add Book</span></a>
					</li>
					<li>
					<a href="#"><span>List Book</span></a>
					</li>
					<li>
					<a href="#"><span>View Request</span></a>
					</li>
				</ul>
			</li>
			<li class="level0 nav-3 level-top">
			<a href="#" class="level-top"><span>Business</span></a>
			</li>
			<li class="level0 nav-4 level-top">
			<a href="#"><span>Children's</span></a>
			</li>
			<li class="level0 nav-5 last level-top">
			<a href="#" class="level-top"><span>Used &amp; out of print</span></a>
			</li> 
		</ul>
	</div>
<% end %>
</div>
	<div class="block block-specials">
		<div class="block-title">
			<strong>Specials</strong>
		</div>
		<div class="block-content">
			<div class="spec_item">
				<a class="product-image" href="#" title="Professional Baking"><img src="http://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_9.png" alt="Professional Baking"/></a>
				<div class="product-shop">
					<p class="product-name"><a href="http://livedemo00.template-help.com/magento_50899/professional-baking.html" title="Professional Baking)">Professional Baking</a></p>
					<div class="price-box">
						<p class="old-price">
							<span class="price-label">Regular Price:</span>
							<span class="price" id="old-price-16-widget-catalogsale-fc9bf767dcacabf9bf541fa72594eca2">
								Review: 45.62 </span>
							</p>
							<p class="special-price">
								<span class="price-label">Special Price</span>
								<span class="price" id="product-price-16-widget-catalogsale-fc9bf767dcacabf9bf541fa72594eca2">
									Review: 40.00 </span>
								</p>
							</div>
							<div class="actions_sp">
								<a href="#" class="cart_link">Add to Cart</a>
							</div>
						</div>
						<div class="label-product">
						</div>
					</div>
					<div class="spec_item">
						<a class="product-image" href="#"><img src="http://livedemo00.template-help.com/magento_50899/media/catalog/product/cache/1/small_image/270x/9df78eab33525d08d6e5fb8d27136e95/f/i/file_27_12.png" alt="Promises in Death (In Death)"/></a>
						<div class="product-shop">
							<p class="product-name"><a href="#" title="Promises in Death (In Death))">Promises in Death (In Death)</a></p>
							<div class="price-box">
								<p class="old-price">
									<span class="price-label">Regular Price:</span>
									<span class="price" id="old-price-19-widget-catalogsale-fc9bf767dcacabf9bf541fa72594eca2">
										Review: 42.31 </span>
									</p>
									<p class="special-price">
										<span class="price-label">Special Price</span>
										<span class="price" id="product-price-19-widget-catalogsale-fc9bf767dcacabf9bf541fa72594eca2">
											Review: 40.00 </span>
										</p>
									</div>
									<div class="actions_sp">
										<a href="#">Add to Cart</a>
									</div>
								</div>
								<div class="label-product">
								</div>
							</div>
						</div>
					</div>
				</div>